*.swp
*.swo
node_modules
dist/
Documents/
Projects/
Temp/
Desktop/
Backup/
Documentation/
Downloads/
Github/
Music/
Notes
.ICEauthority
.bash_history
.bash_logout
.cache/
.dbshell
.debug
.gnupg/
.local/
.mozilla/
.node_repl_history
steampath
.steam/
.steampid
.sudo_as_admin_successful
.wget-hsts
.tags
.viminfo
.viminfo.tmp
.viminfz.tmp
.pvpn-cli/
.tags.temp
.tags.lock
.steampath
.pulse-cookie
.pki/
.nvm/
.npm/
.selected_editor
ycm_build/
snap/
linux-surface/
examples.desktop
Scripts/
Pictures/
vim/
Backup
.apport-ignore.xml
.gitconfig
.mongorc.js
PerfRecords
.config/
.tmux/
.vim/
tmux/
.vscode
.NERDTreeBookmarks
